fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib[argon2]
python-jose[cryptography]
python-dotenv
pillow
piexif
transformers
torch
python-multipart
passlib[bcrypt]
fpdf
opencv-python-headless
pytest
httpx
email-validator

pywhatkit
pyautogui
keyboard
pyperclip
